header, nav, main, footer { display: flex;
flex-direction: column; 
}
body { background-color: #F4E8BC;
       font-family: Verdana, Arial, sans-serif;
	   margin: 0px;
}
#wrapper {background-color: #F4E8BC;} /*Sets background colors for website and content, contains content to a box in the middle of the screen*/
h1 { background-color: #F4E8BC;
	 /*configures logo background*/
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 3em;
	 text-shadow: 3px 3px 3px #90745D;
	 margin: 0;
	 text-align: center;
	 padding: .1em;
	 /*Content title text, overlaying logo background*/
}
h2 {font-family: Georgia, "Times New Roman", serif;
    text-align: center;
	font-size: 1.5em;}
h3 {font-family: Georgia, "Times New Roman", serif;
    text-align: center;
	font-size: 1.2em;}
h4 {font-family: Georgia, "Times New Roman", serif;
    font-weight: bold;}
nav {font-size: 1.2em;
background-attachment: fixed;
text-align: center;
/*configures the appearance and size of the navigation panel*/	  
}
nav ul{padding-left: 0em;
padding-right: 0em;
list-style-type: none;
flex-direction: column;
display: flex;
margin: 0em;}
nav li{padding-top: .5em;
padding-bottom: .5em;
width: 100%;
border-bottom-style: solid;
border-width: 1px;
font-weight: bold;}
/*spacing and text style of nagivation elements*/
nav a { text-decoration: none; }
nav a:link { color: #330000; }
nav a:visited{ color: #90745D; }
nav a:hover { color: #3F4632; font-style: italic; }
/*dynamic effects for links in the navigation panel*/


main { background-color: #FFFFCC;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
		  font-style: normal;
		  text-align: left;
		  margin-top: 0;
}
main img { float: right;
              padding: 20px;
}
section{float: left;
width: 41%;
padding-left: 2em;
padding-right: 2em;}
section ul{list-style-type: none;}
.quote{font-style: italic;
text-align: center;} /*handles quotes on index*/

div#lbOverlay {
   position: fixed;                        /* Overlay is fixed on screen */
   z-index: 1;                             /* Overlay sits on top of other content */
   width: 100%;                            /* Full width */
   height: 100%;                           /* Full height */
   top: 0;
   left: 0;
   background-color: rgba(37,150,190,0.85);
   display: flex;
   justify-content: center;
align-items: center;}
figure{
	width: 80em;
	height: 70em;
	object-fit: fill;
}
#galleryImg{width: 100%;
list-style-type: none;
float: left;
max-width: 150px;
max-height: 150px;
object-fit: fill;}

table{width: 100%;
margin: auto;}
td{border-bottom-style: solid;
border-bottom-color: #000000}
th{border-bottom-style: solid;
border-bottom-color: #000000}

form{display: grid;
flex-direction: column;
grid-template-columns: auto auto;
grid-template-rows: auto auto auto auto auto auto auto;
width: 100%;
text-align: left;
column-gap: 1em;
}
input{margin-bottom: .75em;}
textarea{margin-bottom: .75em;}
select{margin-bottom: .75em}
p2{display: block;
font-size: .8em;
text-align: center;
margin-top: -1em;}

footer { background-color: #FFFFCC;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
} /*background and text styling for the footer/copyright at the bottom of the page*/
	  
	  
#homeimage{background-image: url(../images/scenery.webp);
background-repeat: no-repeat;
height: 100px;
background-size: 100% 100%;}
#room1{background-image: url(../images/open_room.webp);
background-repeat: no-repeat;
height: 275px;
width: 275px;
background-size: 100% 100%;}
#room2{background-image: url(../images/woods_room.webp);
background-repeat: no-repeat;
height: 275px;
width: 275px;
background-size: 100% 100%;}
#events{background-image: url(../images/weekends.webp);
background-repeat: no-repeat;
height: 200px;
width: 375px;
background-size: 75% 100%;}
#calendar {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #369696;
  border: 5px solid;
  filter: drop-shadow(.25em .25em .1em);
}
#calendar th{
  word-break: keep-all;
  overflow-wrap: normal;
  font-size: .95em;
  text-align: center;
}
#calendar td {
  width: 25%;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: .25em;
  text-align: center;
}
#map {
   height: 40em; 
   width: 55em;
   border: 10px solid #369696; 
   border-radius: 15px;
   box-shadow: 0 4px 15px rgba(0,0,0,0.2);
   outline: 1px solid #ccc;
   align-self: center;
}

#mobile{display: inline;}
#desktop{display: none;}


@media (min-width: 600px){
	
h1 { background-image: url(../images/logo.webp);
     background-repeat: no-repeat;
     background-color: #F4E8BC;
	 height: 110px;
	 /*configures logo background*/
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 3em;
     padding-left: 220px;
	 padding-top: 20px;
	 text-shadow: 3px 3px 3px #90745D;
	 margin-bottom: 0;
	 text-align: center;
	 /*Content title text, overlaying logo background*/
}
body { background-color: #006666;
       font-family: Verdana, Arial, sans-serif;
	   margin: 1em;
}

nav { padding-top: 10px;
      float: left;
      width: 200px;
	  text-align: center;
/*configures the appearance and size of the navigation panel*/	  
}
nav ul { list-style-type: none; 
       padding-right: 25px;
	   padding-left: 25px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
	   border-bottom-style: none;
}
main {
     margin-left: 200px;
     padding: 1px 20px 20px 20px;   
     min-height: 300px;
	 font-style: normal;
	 text-align: left;
}
footer {
       margin-left: 200px;
       padding: 20px;
}

h1{}

form{width: 60%;
display: grid;
grid-gap: 1em;
grid-template-columns: 1fr auto;
align-items: center;}
submit{}

#room1{margin-left: 13em;
margin-right: 15em;}
#room2{margin-left: 13em;
margin-right: 15em;}
#events{
height: 250px;
width: 650px;
background-size: 100% 100%;}

#flow{display: flex;
flex-direction: row;}

#mobile{display: none;}
#desktop{display: inline;}

figure{
width: 500px;
height: 500px;
float: right;
margin-left: 0em;
}

.galleft{float: left;
list-style-type: none;}
figcaption{
	float: left;
	font-style: italic;
	font-weight: bold;
}
.big {object-fit: contain;
width: 100%;
height: 100%;}
}
@media (min-width: 1024px){
	h1 {
	 font-size: 4.5em;
}
#wrapper { width: 960px;
           margin: auto;
		   background-color: #F4E8BC;
		   color: #001a1a;
		   box-shadow: 5px 5px 5px #000000;
}
}
